@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <script type="text/javascript">



        function bianarydetect() {


        }

        function boldconvert() {

        }

        function italicsconvert() {

        }

        function reversetext() {

        }

        function darkmode() {

        }

        function populateSecondTextBox() {
            document.getElementById('txtSecond').value = document.getElementById('txtFirst').value;
        }

    </script>

    <h1 class="display-4">Welcome</h1>


    user story one:<br>
    <label>enter text here:</label>
    <input type="text" id="txtFirst" onkeyup="populateSecondTextBox();" />
    <br>
    <label>text displayed:</label>
    <input type="text" id="txtSecond" /> <br>

    user story two:<br>
    <label>enter text here:</label>
    <input type="text" id="txtFirst" onkeyup="populateSecondTextBox();" />
    <br>
    <label>text displayed:</label>
    <input type="text" id="txtSecond" /> <br>

    user story three:<br>
    <label>enter text here:</label>
    <input type="text" id="txtFirst" onkeyup="populateSecondTextBox();" />
    <br>
    <label>text displayed:</label>
    <input type="text" id="txtSecond" /> <br>

    user story four:<br>
    <label>enter text here:</label>
    <input type="text" id="txtFirst" onkeyup="populateSecondTextBox();" />
    <br>
    <label>text displayed:</label>
    <input type="text" id="txtSecond" /> <br>

    user story five:<br>
    <label>enter text here:</label>
    <input type="text" id="txtFirst" onkeyup="populateSecondTextBox();" />
    <br>
    <label>text displayed:</label>
    <input type="text" id="txtSecond" /> <br>

</div>
