@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <script type="text/javascript">





        function populateStory1() {
            document.getElementById('userstory1right').value = document.getElementById('userstory1left').value;
        }
        function populateStory2() {
            document.getElementById('userstory2right').value = document.getElementById('userstory2left').value;
        }
        function populateStory3() {
            document.getElementById('userstory3right').value = document.getElementById('userstory3left').value;
        }
        function populateStory4() {
            document.getElementById('userstory4right').value = document.getElementById('userstory4left').value;
        }
        function populateStory5() {
            document.getElementById('userstory5right').value = document.getElementById('userstory5left').value;
        }

    </script>



    <h1 class="display-4"><u>Welcome</u></h1>

    <br>


    <b>user story one:</b><br>
    <label>enter text here:</label>
    <input type="text" id="userstory1left" onkeyup="populateStory1();" />

    <label>text displayed:</label>
    <input type="text" id="userstory1right" />
    <button name="greentext" type="button" onclick="greenrender()">change to green</button><br>
    <br>
    <br>
    <script>
        function greenrender() {
            document.getElementById("userstory1right").style.color = "green";
        }
    </script>



    <b>user story two:</b><br>
    <label>enter text here:</label>
    <input type="text" id="userstory2left" onkeyup="populateStory2();" />

    <label>text displayed:</label>
    <input type="text" id="userstory2right" />
    <button type="button">is it binary</button><br>
    <br>
    <br>


    <b>user story three:</b><br>
    <label>enter text here:</label>
    <input type="text" id="userstory3left" onkeyup="populateStory3();" />

    <label>text displayed:</label>
    <input type="text" id="userstory3right" />
    <button name="boldtext" type="button" onclick="boldify()"> change to bold</button><br>
    <br>
    <br>
    <script>
        function boldify() {
            document.getElementById("userstory3right").style.fontWeight = "900";
        }
    </script>


    <b>user story four:</b><br>
    <label>enter text here:</label>
    <input type="text" id="userstory4left" onkeyup="populateStory4();" />

    <label>text displayed:</label>
    <input type="text" id="userstory4right" />
    <button name="italisize" type="button" onclick="italisize()">change to italics </button><br>
    <br>
    <br>
    <script>
        function italisize() {
            document.getElementById("userstory4right").style.fontStyle = 'italic';
        }
    </script>


    <b>user story five:</b><br>
    <label>enter text here:</label>
    <input type="text" id="userstory5left" onkeyup="populateStory5();" />

    <label>text displayed:</label>
    <input type="text" id="userstory5right" />
    <button type="button">reversetext</button><br>
    <br>
    <br>



    <button type="button" id="darkmode" onclick="darkmode('gray');">darkmode</button>

    <script>
        function darkmode(color) {
            document.body.style.background = color;
        }

    </script>

</div>
